@charset "UTF-8";

/*******************************************************************************
**
**		GENERAL SETTINGS: CONTAINERS LEFT
**
*******************************************************************************/

#content {
	padding-left: 1.2em;
}

#menu .nav, #menu .header1, #menu .genres, table.basket {
	padding-left: 1.2em;
}

/*******************************************************************************
**
**		MENU SETTINGS: SITE NAVIGATION
**
*******************************************************************************/
#menu {
	background-color: #4488ee;
}

#menu, #menu .nav, #menu .header1, #menu .genres {
	clear: both;
}

#menu .nav, #menu .header1, #menu .genres {
	padding-left: 1em;
}

#menu .nav {
	padding-top: 1.4em;
	padding-bottom: 1.4em;
}

#menu .nav a, #menu input, #menu img {
	float: left;
}

#menu .nav a, #menu input {	
	padding: 0.4em;
	margin-right: 0.3em;
	
	color: #000;
	background-color: white;
	border-radius: 25px;
	border: 2px solid white;
	
	text-decoration: none;
}

#menu .nav a.current {
	color: white;
	background-color: #24DA37;
	border-color: #24DA37;
}

#menu .nav a.movieDB, #menu input.movieDB {	
	padding: 0.4em;
	margin-right: 0.3em;
	
	color: #000;
	background-color: #6a7881;
	border-radius: 25px;
	border: 2px solid #6a7881;
	
	text-decoration: none;
}

#menu .search img {
	display: block;
	
	padding: 7px 0;
	margin: auto;
	
}

/*******************************************************************************
**
**		MENU SETTINGS: GENRES
**
*******************************************************************************/
div.genres ul {
	margin: 0;
	
	list-style-type: none;
	
	overflow: hidden;
}

div.genres ul li {
	float: left;
}

div.genres ul li a, div.genres ul li span {
	display: block;
	padding: 14px 16px;
	
	color: white;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

div.genres ul li a:hover {
	background-color: #000;
}

div.genres ul li a.current, div.genres ul li span.current {
	background-color: #000;
}

/*******************************************************************************
**
**		SPECIAL CONTAINERS: MOVIES
**
*******************************************************************************/
div.movies {
	
}

div.movie {
	float: left;
	
	margin: 10px;
}

div.movie div.title {
	font-size: 2em;
	font-weight: bold;
	color: #4488ee;
	
	text-align: center;
}

div.movie div.poster {
	
}

/*******************************************************************************
**
**		SPECIAL CONTAINERS: BASKET TABLE
**
*******************************************************************************/
table.basket {
	width: 30em;
}

table.basket th, table.basket td {
	text-align: left;
}

table.basket tr {
	padding-bottom: 1em;
}

table.basket th {
	font-weight: bold;
}



