@charset "UTF-8";

/*******************************************************************************
**
**		FONT
**
*******************************************************************************/
body {
	font-family: Georgia, serif;
	font-size: 16px;
}

/*******************************************************************************
**
**		HEADERS
**
*******************************************************************************/
h1 {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	
	font-size: 3em;
}
h2 {
	font-size: 2em;
}

/*******************************************************************************
**
**		SPECIAL CONTAINERS: ERROR
**
*******************************************************************************/
div.error {
	padding: 1em;
	margin: 1em;
}

div.error div {
	margin-bottom: 1em;
}

div.error h2 {
	margin-bottom: 0.2em;
}

div.error p {
	margin-bottom: 0.4em;
}